*.log
.DS_Store
.vagrant
dist/
logs/
node/
node_modules/
target/
*.swp

# Package Files #
*.jar
*.war
*.ear
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# intellij
*.iml
.idea/

# eclipse
.classpath
.project
.settings/

service_info.yml
